<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Message board</title>
</head>
<body>
  <%- include('header') %>
  <main>
    <h1>Post your messages, read everybody else's!</h1>
    <div class="message-board">
      <h2><span class='down-arrow'>↓</span> Messages <span class='down-arrow'>↓</span></h2>
      <ul>
        <% for(let item of messages) { %>
          <li>
            <h3><%= item.author %></h3>
            <p><%= item.message %></p>
            <form action="/delete", method="POST" style="display: contents">
              <input type="number" name="id" value="<%= item.id %>" style="display: none" />
              <button type="submit" onclick="return confirm('sure about that?');">delete</button>
            </form>
          </li>
        <% } %>
      </ul>

      <a class='new-message-btn' href="/new">New message</a>
    </div>
  </main>
  <%- include('footer') %>
</body>
</html>